<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://manchint.github.io/GVSU-CIS641-sunrisers_base/" class="btn" style="background-color:#337ab7" target="_blank" rel="noopener noreferrer">Team GitHub Page</a>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">Personal GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <div>
        <p class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">We all want many things, but we need only a few thing. Food is an unmistakable need we as living beings have. Who doesn&rsquo;t like a good meal? Cooking is an art, but this can be made less stressful when you have the right guide. We all are familiar with cook books where we can browse through recipes, but who uses cook books these days?</p>

<p class="p2" style="margin: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; min-height: 15px;">&nbsp;</p>

<p class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">We bring you the modern way of easy cooking guide - &ldquo;The Cook Book&rdquo;. A website which will help you in making your busy life a bit more simpler. You can browse through hundreds of recipes and even search for the recipe of your liking. Don&rsquo;t know if you have all the ingredients? Don&rsquo;t worry, we got you covered! It lets you search for recipes based on the available ingredients. It is also easily accessible through any browser - on computer and mobile.</p>

<p class="p2" style="margin: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; min-height: 15px;">&nbsp;</p>

<p class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">A user can easily register on the website in a few easy steps and can browse through hundreds of recipes with the help of powerful search features. The website will have filtering and sorting, to enable the users find recipes based on the dish name and even based on the list of ingredients. The user also have the ability to like, comment and review recipes. The user will be able to upload their own recipes and share it with others. They can identify meals according to their calorie intake and add them to their regular diet and meal preps plan.</p>

<p class="p2" style="margin: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; min-height: 15px;">&nbsp;</p>

<p class="p2" style="margin: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; min-height: 15px;">&nbsp;</p>

<p class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">We plan to use the below technologies:</p>

<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:600px;">
	<tbody>
		<tr>
			<td style="width: 40px;"><img alt="" src="https://media.giphy.com/media/mAZf4H4Pi0wwlj3ZAw/giphy.gif" style="width: 80px; height: 80px;" /></td>
			<td style="width: 200px;">
			<ul>
				<li class="p1" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;"><b>Front end:</b>&nbsp;React, HTML, CSS</li>
				<li class="p1" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;"><b>Backend:</b>&nbsp;SpringBoot(spring rest,data jpa,actuator, jms)</li>
				<li class="p1" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;"><b>Database:</b>&nbsp;MySQL</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<p class="p1" style="margin: 0px 0px 0px 80px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">&nbsp;</p>

<p class="p2" style="margin: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; min-height: 15px;">&nbsp;</p>

<p class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">We will be following Agile methodology. This will enable us to build the application in an iterative manner. We have finished the initial planning phase based on which we have documented the set of features we will be developing in the coming sprints.</p>

<p class="p2" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; min-height: 15px;">&nbsp;</p>

<p class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Some of the major features are:</p>

<ol>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Login Screen</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Sign up Screen</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Logout Screen</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Search Page - Search by recipe name, Search by ingredients</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Search Functionality</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Recipe Page</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Filtering and Sorting</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Like and Comment on a given recipe</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">View Likes and Comments on Recipe</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Upload Recipe</li>
	<li class="p1" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;;">Account Management Page</li>
</ol>

<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td><img alt="" src="https://media.giphy.com/media/QWYF4YJycPVTEXTa9I/giphy.gif" style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; width: 50px; height: 50px;" /></td>
			<td style="white-space: nowrap;">
			<p><span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px;">We are planning to have milestones which will help us track the progress of the entire project.<br />
			We decided to make every feature as one individual Milestone and each Milestone will have subtasks like UI, Backend, Integration, Testing.</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p class="p2" style="margin: 0px 0px 0px 40px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; min-height: 15px;">&nbsp;</p>
      </div>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
<!--         <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span> -->
      </footer>
    </main>
  </body>
</html>
